{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "valid-jsdoc":2,
    "no-else-return":2,
    "no-floating-decimal":2,
    "no-self-compare":2,
    "radix":2,
    "wrap-iife":2,
    "consistent-this": [2, "that"],
    "no-lonely-if":2,
    "no-var": 2,
    "strict": [2, "never"],
    "semi": [2, "never"]
  }
}

