{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "forOf": true,
    "generators": true,
    "templateStrings": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "defaultParams": true,
    "blockBindings": true,
    "arrowFunctions": true
  },
  "rules": {
    "no-underscore-dangle": false,
    "quotes": [2, "single", "avoid-escape"],
    "valid-jsdoc":2,
    "no-else-return":2,
    "no-floating-decimal":2,
    "no-self-compare":2,
    "radix":2,
    "wrap-iife":2,
    "func-style": [2, "expression"],
    "consistent-this": [2, "that"],
    "no-lonely-if":2,
    "no-comma-dangle": false,
    "no-var": true,
    "strict": "never",
    "semi": [2, "never"]
  }
}

